/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
	*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none; }

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* Make `a` like a button */
[role="button"] {
  color: inherit;
  cursor: default;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: pre;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

* {
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%; }

body.removeheight {
  height: unset; }

html {
  background: url("../media/backgroundimage-small.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/* unvisited link */
a:link {
  color: white; }

/* visited link */
a:visited {
  color: white; }

/* mouse over link */
a:hover {
  color: #69eeff; }

/* selected link */
a:active {
  color: blue; }

.pagelayout {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow-y: auto;
  font-family: 'Montserrat';
  color: white;
  transition: background .5s ease-in-out; }
  .pagelayout.darken {
    background: rgba(0, 0, 0, 0.8); }

h1 {
  font-weight: bold;
  font-size: 40pt;
  transition: font-size .5s ease-in-out; }

p {
  font-size: 17pt;
  transition: font-size .5s ease-in-out; }

small {
  font-size: 10pt; }

.center {
  text-align: center; }

.mainbuttonskin {
  opacity: 0;
  padding: 5px;
  transition: all .1s linear; }
  .mainbuttonskin:hover {
    text-shadow: 2px 2px 7px black;
    cursor: pointer; }
  .mainbuttonskin.clicked {
    text-shadow: unset; }
  .mainbuttonskin:focus {
    outline: 0; }
  .mainbuttonskin:after {
    content: '';
    display: block;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .3s ease-in-out, background-color .3s ease-in-out; }
  .mainbuttonskin:hover:after {
    width: 100%;
    background: white; }

.homebutton {
  opacity: 0;
  margin: 10px;
  padding: 5px 15px;
  transition: all .1s linear;
  font-size: 20pt;
  border: 2px solid white; }
  .homebutton:hover {
    cursor: pointer;
    color: #9e9e9e;
    border: 2px solid #b3b2b2;
    text-shadow: 2px 2px 7px black; }
  .homebutton:focus {
    outline: 0; }
  .homebutton.clicked {
    text-shadow: unset;
    color: white; }

.mainpage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
  min-width: 270px;
  transition: all .5s ease-in-out; }

.titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-size: 20pt;
  border-right: 2px solid white;
  padding: 10px; }

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 20pt;
  padding: 10px;
  transition: font-size .5s ease-in-out; }

.standardlayout {
  opacity: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 30px;
  transition: all 1s ease-in-out; }

.descriptioncontainer, .skillsgrid, .portfoliogrid, .prexpgrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px;
  justify-content: center;
  align-items: center;
  align-content: center; }

.imageself {
  border-radius: 50%;
  align-self: center;
  max-width: 100%;
  height: auto;
  margin: 20px; }

.skillsgrid {
  max-width: 600px;
  padding: unset;
  margin: 15px; }

.skilltag {
  margin: 5px; }

.skillcontainer {
  width: 125px;
  height: 125px;
  margin: 10px;
  color: transparent;
  border: 0px solid transparent;
  transition: all .1s ease-in-out; }
  .skillcontainer:hover {
    color: white;
    border: 15px solid transparent; }

.portfoliogrid {
  padding: 15px;
  max-width: 100%; }

.projectcontainer, .dashboardcontainer, .dashboardcontainer-vertical {
  position: relative;
  max-width: 380px;
  height: auto;
  display: block;
  transition: all .3s ease-in-out;
  margin: 10px; }
  .projectcontainer .imgcontainer, .dashboardcontainer .imgcontainer, .dashboardcontainer-vertical .imgcontainer {
    background: black;
    display: block;
    border: 2px solid #fffefe; }
  .projectcontainer img, .dashboardcontainer img, .dashboardcontainer-vertical img {
    width: 100%;
    height: 100%;
    opacity: 0.4;
    transition: all .3s ease-in-out; }
  .projectcontainer .project-title-container, .dashboardcontainer .project-title-container, .dashboardcontainer-vertical .project-title-container, .projectcontainer .techcontainer, .dashboardcontainer .techcontainer, .dashboardcontainer-vertical .techcontainer {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 35%;
    padding: 0 35px;
    transition: opacity .3s ease-in-out;
    text-decoration: underline; }
    .projectcontainer .project-title-container h4, .dashboardcontainer .project-title-container h4, .dashboardcontainer-vertical .project-title-container h4, .projectcontainer .techcontainer h4, .dashboardcontainer .techcontainer h4, .dashboardcontainer-vertical .techcontainer h4 {
      font-size: 20pt; }
  .projectcontainer .techcontainer, .dashboardcontainer .techcontainer, .dashboardcontainer-vertical .techcontainer {
    text-decoration: unset;
    top: 70%;
    opacity: 0; }
    .projectcontainer .techcontainer h4, .dashboardcontainer .techcontainer h4, .dashboardcontainer-vertical .techcontainer h4 {
      font-size: 34pt; }
  .projectcontainer .icon, .dashboardcontainer .icon, .dashboardcontainer-vertical .icon {
    width: 50px;
    height: auto; }
  .projectcontainer .linkscontainer, .dashboardcontainer .linkscontainer, .dashboardcontainer-vertical .linkscontainer {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 20%;
    opacity: 0;
    display: flex;
    flex-direction: row;
    transition: all .3s ease-in-out; }
    .projectcontainer .linkscontainer .livelinkcontainer, .dashboardcontainer .linkscontainer .livelinkcontainer, .dashboardcontainer-vertical .linkscontainer .livelinkcontainer, .projectcontainer .linkscontainer .gitlinkcontainer, .dashboardcontainer .linkscontainer .gitlinkcontainer, .dashboardcontainer-vertical .linkscontainer .gitlinkcontainer {
      width: 50%; }
    .projectcontainer .linkscontainer .livelinkcontainer, .dashboardcontainer .linkscontainer .livelinkcontainer, .dashboardcontainer-vertical .linkscontainer .livelinkcontainer {
      border-right: 1px solid white; }
    .projectcontainer .linkscontainer .gitlinkcontainer, .dashboardcontainer .linkscontainer .gitlinkcontainer, .dashboardcontainer-vertical .linkscontainer .gitlinkcontainer {
      border-left: 1px solid white; }
  .projectcontainer:hover, .dashboardcontainer:hover, .dashboardcontainer-vertical:hover {
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.75);
    transform: scale(1.1);
    z-index: 1; }
    .projectcontainer:hover .linkscontainer, .dashboardcontainer:hover .linkscontainer, .dashboardcontainer-vertical:hover .linkscontainer {
      opacity: 1; }
    .projectcontainer:hover .project-title-container, .dashboardcontainer:hover .project-title-container, .dashboardcontainer-vertical:hover .project-title-container, .projectcontainer:hover .techcontainer, .dashboardcontainer:hover .techcontainer, .dashboardcontainer-vertical:hover .techcontainer {
      opacity: 0; }
    .projectcontainer:hover .techcontainer, .dashboardcontainer:hover .techcontainer, .dashboardcontainer-vertical:hover .techcontainer {
      opacity: 1; }
    .projectcontainer:hover img, .dashboardcontainer:hover img, .dashboardcontainer-vertical:hover img {
      opacity: 0.2; }

.prexpcontainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 15px;
  justify-content: center;
  align-items: center;
  align-content: center; }

.prexpgrid {
  padding: 15px;
  max-width: 90%; }

.marginsides {
  margin: 0 100px; }

.dashboardcontainer, .dashboardcontainer-vertical {
  background-color: black;
  max-width: 325px;
  height: 200px;
  border: 2px solid #fffefe; }
  .dashboardcontainer .project-title-container h4, .dashboardcontainer-vertical .project-title-container h4, .dashboardcontainer .techcontainer h4, .dashboardcontainer-vertical .techcontainer h4 {
    font-size: 18pt; }
  .dashboardcontainer:focus, .dashboardcontainer-vertical:focus {
    outline: none; }
  .dashboardcontainer:hover img, .dashboardcontainer-vertical:hover img {
    opacity: 0.8; }

.dashboardcontainer-vertical {
  height: 350px; }
  .dashboardcontainer-vertical .project-title-container h4, .dashboardcontainer-vertical .techcontainer h4 {
    font-size: 16pt; }

.hidden {
  display: none; }

@media (max-width: 907px) {
  .marginsides {
    margin: 0 0; } }
@media (max-width: 740px) {
  .mainpage {
    flex-direction: column; }

  .titles {
    align-items: flex-start;
    border-right: unset;
    border-bottom: 2px solid white; } }
@media (max-width: 450px) {
  .projectcontainer img, .dashboardcontainer img, .dashboardcontainer-vertical img {
    max-width: 250px; }
  .projectcontainer .linkscontainer, .dashboardcontainer .linkscontainer, .dashboardcontainer-vertical .linkscontainer {
    top: 15%;
    padding: 0;
    opacity: 1;
    font-size: 10pt; }
  .projectcontainer .project-title-container, .dashboardcontainer .project-title-container, .dashboardcontainer-vertical .project-title-container, .projectcontainer .techcontainer, .dashboardcontainer .techcontainer, .dashboardcontainer-vertical .techcontainer {
    opacity: 1 !important;
    position: relative;
    max-width: 250px;
    padding: 5px 0; }
    .projectcontainer .project-title-container h4, .dashboardcontainer .project-title-container h4, .dashboardcontainer-vertical .project-title-container h4, .projectcontainer .techcontainer h4, .dashboardcontainer .techcontainer h4, .dashboardcontainer-vertical .techcontainer h4 {
      font-size: 14pt; }
    .projectcontainer .project-title-container :hover, .dashboardcontainer .project-title-container :hover, .dashboardcontainer-vertical .project-title-container :hover, .projectcontainer .techcontainer :hover, .dashboardcontainer .techcontainer :hover, .dashboardcontainer-vertical .techcontainer :hover {
      opacity: 1; }
  .projectcontainer .techcontainer, .dashboardcontainer .techcontainer, .dashboardcontainer-vertical .techcontainer {
    opacity: 1;
    position: relative;
    padding: 5px 0; }
  .projectcontainer:hover, .dashboardcontainer:hover, .dashboardcontainer-vertical:hover {
    box-shadow: none;
    transform: scale(1.1);
    z-index: 1; }

  .dashboardcontainer .project-title-container, .dashboardcontainer-vertical .project-title-container, .dashboardcontainer .techcontainer, .dashboardcontainer-vertical .techcontainer {
    position: absolute;
    padding: 0 15px; } }
@media (max-width: 380px) {
  .menu {
    font-size: 17pt; }

  p {
    font-size: 13pt; }

  h1 {
    font-size: 28pt; } }

/*# sourceMappingURL=style.css.map */
