/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
	*/
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}



	[role="button"],
	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button {
		-webkit-box-sizing: content-box;
		   -moz-box-sizing: content-box;
				box-sizing: content-box;
	}
	
	/* Reset `button` and button-style `input` default styles */
	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button {
		background: none;
		border: 0;
		color: inherit;
		/* cursor: default; */
		font: inherit;
		line-height: normal;
		overflow: visible;
		padding: 0;
		-webkit-appearance: button; /* for input */
		-webkit-user-select: none; /* for button */
		   -moz-user-select: none;
			-ms-user-select: none;
	}
	input::-moz-focus-inner,
	button::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
	
	/* Make `a` like a button */
	[role="button"] {
		color: inherit;
		cursor: default;
		display: inline-block;
		text-align: center;
		text-decoration: none;
		white-space: pre;
		-webkit-user-select: none;
		   -moz-user-select: none;
			-ms-user-select: none;
	}
	
//// End of the reseter

$fontSize: 20pt;
$fontColor: white;

* {
	box-sizing: border-box;
}


html, body {
	width: 100%;
	height: 100%;
}

body {
}

body.removeheight {
	height: unset;
}

html {
	background: url("../media/backgroundimage-small.png") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;


	// &.darken {
	// 	background: url("../media/backgroundimage-small-darken.png") no-repeat center center fixed; 
	// 	background-size: cover;
	// }
}

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: rgb(255, 255, 255);
}

/* mouse over link */
a:hover {
    color: rgb(105, 238, 255);
}

/* selected link */
a:active {
    color: blue;
}


.pagelayout {
	height: 100%;
	display: flex;

	flex-direction: column;

	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;

	font-family: 'Montserrat';

	color: $fontColor;

	transition: background .5s ease-in-out;

	&.darken {
		background: rgba(0, 0, 0, 0.80);
		background-size: cover !important;
	}
}

h1 {
	font-weight: bold;
	font-size: $fontSize * 2;

	transition: font-size .5s ease-in-out;
}

p {
	font-size: $fontSize * 0.85;

	transition: font-size .5s ease-in-out;
}

.center {
	text-align: center;
}

.mainbuttonskin {
	opacity: 0;
	padding: 5px;
	transition: all .1s linear;

	&:hover {
		text-shadow: 2px 2px 7px black;
		cursor: pointer;
	}

	&.clicked {
		text-shadow: unset;
	}

	&:focus {
		outline:0;
	}

	&:after {
		content: '';
		display: block;
		height: 2px;
		width: 0px;
		background: transparent;
		transition: width .3s ease-in-out, background-color .3s ease-in-out;
	}
	&:hover:after {
		width: 100%;
		background: rgb(255, 255, 255);
	}
}

.homebutton {
	opacity: 0;
	margin: 10px;
	padding: 5px 15px;
	transition: all .1s linear;
	font-size: $fontSize;
	border: 2px solid white;

	&:hover {
		cursor: pointer;
		color: rgb(158, 158, 158);
		border: 2px solid rgb(179, 178, 178);
		text-shadow: 2px 2px 7px black;
	}
	&:focus {
		outline:0;
	}

	&.clicked{
		text-shadow: unset;
		color: white;
	}
}

.mainpage {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 20px;
	min-width: 270px;
	
	transition: all .5s ease-in-out;
}

.titles {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	font-size: $fontSize;
	border-right: 2px solid white;
	padding: 10px;
}

.menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	font-size: $fontSize;

	padding: 10px;

	transition: font-size .5s ease-in-out;
}

.standardlayout {
	opacity: 0;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	flex-wrap: wrap;
	margin: 30px;

	transition: all 1s ease-in-out;
}

.descriptioncontainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 15px;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.imageself {
	border-radius: 50%;
	align-self: center;
	max-width: 100%;
	height: auto;
	margin: 20px;
	
}

.skillsgrid {
	@extend .descriptioncontainer;
	max-width: 600px;
	padding: unset;
	margin: 15px;
}

.skilltag {
	margin: 5px;
}

.skillcontainer {
	width: 125px;
	height: 125px;
	margin: 10px;

	color: transparent;
	border: 0px solid transparent;

	transition: all .1s ease-in-out;

	&:hover {
		color: white;
		border: 15px solid transparent;
	}
}

.portfoliogrid {
	@extend .descriptioncontainer;
	padding: 15px;
	max-width: 100%;
}

.projectcontainer {
	
	position: relative;
	max-width: 400px;
	height: auto;
	display: block;
	transition: all .3s ease-in-out;
	margin: 10px;
	
	
	.imgcontainer {
		background: rgb(0, 0, 0);
		display: block;
		border: 2px solid rgb(255, 254, 254);
	}
	
	img {
		width: 100%;
		height: 100%;
		opacity: 0.4;
		transition: all .3s ease-in-out;
	}
		
	.project-title-container {
		position: absolute;
		text-align: center;    
		width: 100%;
		top: 35%;
		padding: 0 35px;
		transition: opacity .3s ease-in-out;
		text-decoration: underline;
		
		& h4 {
			font-size: $fontSize;
		}
	}

	.techcontainer {
		@extend .project-title-container;
		text-decoration: unset;
		top: 70%;
		opacity: 0;

		& h4 {
			font-size: $fontSize * 1.7;
		}
	}

	.icon {
		width: 50px;
		height: auto;
	}

	.linkscontainer {
		position: absolute;
		width: 100%;
		text-align: center;
		top: 20%;
		opacity: 0;

		display: flex;
		flex-direction: row;
		
		display: none;
		transition: all .3s ease-in-out;

		.livelinkcontainer, .gitlinkcontainer {
			width: 50%;

			a {
				display: none;
				pointer-events: none;
				cursor: default;
				transition: all .3s ease-in-out;
			}
		}

		.livelinkcontainer {
			border-right: 1px solid white;
		}

		.gitlinkcontainer {
			border-left: 1px solid white;
		}

	}
	
	&:hover {
		box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.75);
		transform: scale(1.1);
		z-index: 1;

		.linkscontainer {
			opacity: 1;
			display: flex;

			.livelinkcontainer, .gitlinkcontainer {

				a {
					//pointer-events: visible;
					cursor: pointer;
					display: inline-block;
				}
			}

		}

		.project-title-container {
			opacity: 0;
		}

		.techcontainer {
			opacity: 1;
		}
	
		img {
			opacity: 0.2;
		}

	}


}

@media (max-width: 907px) {
	.pagelayout {
		//height: unset;
	}

	.standardlayout {
		//flex-direction: column;
	}

}
@media (max-width: 740px) {
	.mainpage {
		flex-direction: column;
	}

	.titles {
		align-items: flex-start;
		border-right: unset;
		border-bottom: 2px solid white;
	}

}

@media (max-width: 450px) {
	.projectcontainer {
		& img {
			max-width: 250px;
		}

		.project-title-container h4 {
			font-size: $fontSize * 0.9; 
		} 

		.linkscontainer {
			top: 15%;
			padding: 0;
			//opacity: 1;
			font-size: $fontSize * 0.5;
		}

		.project-title-container {
			//opacity: 1;
			//position: relative;
			max-width: 250px;
			padding: 0;

			h4 {
				font-size: $fontSize * 0.7;
			}
		}

		.techcontainer {
			opacity: 0;
			position: absolute;
		}

	}
}

@media (max-width: 380px) {
	.menu{
		font-size: $fontSize * 0.85;
	}
	p {
		font-size: $fontSize * 0.65;
	}
	h1 {
		font-size: $fontSize * 1.4;
	}
}


