/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
	*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none; }

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* Make `a` like a button */
[role="button"] {
  color: inherit;
  cursor: default;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: pre;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

* {
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%; }

body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: linear-gradient(to right, rgba(119, 186, 248, 0.4) 0%, rgba(0, 255, 179, 0.4) 100%), url("../media/backgroundimage-small.jpeg") center center no-repeat;
  background-size: cover;
  font-family: 'Montserrat';
  color: white; }

h1 {
  font-weight: bold;
  font-size: 40pt; }

.buttonskin {
  opacity: 0;
  padding: 5px;
  transition: all .1s linear; }
  .buttonskin:hover {
    text-shadow: 2px 2px 7px black;
    cursor: pointer; }
  .buttonskin.clicked {
    text-shadow: unset; }
  .buttonskin:focus {
    outline: 0; }
  .buttonskin:after {
    content: '';
    display: block;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .3s ease-in-out, background-color .3s ease-in-out; }
  .buttonskin:hover:after {
    width: 100%;
    background: white; }

.mainpage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
  min-width: 270px; }

.titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-size: 20pt;
  border-right: 2px solid white;
  padding: 10px; }

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 20pt;
  padding: 10px; }

@media (max-width: 740px) {
  .mainpage {
    flex-direction: column; }

  .titles {
    align-items: flex-start;
    border-right: unset;
    border-bottom: 2px solid white; } }
@media (max-width: 340px) {
  .menu {
    font-size: 17pt; } }

/*# sourceMappingURL=style.css.map */
