/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
	*/
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}



	[role="button"],
	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button {
		-webkit-box-sizing: content-box;
		   -moz-box-sizing: content-box;
				box-sizing: content-box;
	}
	
	/* Reset `button` and button-style `input` default styles */
	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button {
		background: none;
		border: 0;
		color: inherit;
		/* cursor: default; */
		font: inherit;
		line-height: normal;
		overflow: visible;
		padding: 0;
		-webkit-appearance: button; /* for input */
		-webkit-user-select: none; /* for button */
		   -moz-user-select: none;
			-ms-user-select: none;
	}
	input::-moz-focus-inner,
	button::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
	
	/* Make `a` like a button */
	[role="button"] {
		color: inherit;
		cursor: default;
		display: inline-block;
		text-align: center;
		text-decoration: none;
		white-space: pre;
		-webkit-user-select: none;
		   -moz-user-select: none;
			-ms-user-select: none;
	}
	
//// End of the reseter

$fontSize: 20pt;
$fontColor: white;

* {
	box-sizing: border-box;
}


html, body {
	height: 100%;
	width: 100%;
}

html {
	background: url("../media/backgroundimage-small-darken.png") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	transition: background 0.3s ease-in-out;
	&.darken {
		background: url("../media/backgroundimage-small-darken.png") no-repeat center center fixed; 
	}
}
.pagelayout {
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;

	//background: linear-gradient(to right, rgb(119, 188, 248) 0%, rgb(0, 255, 179) 100%);
	font-family: 'Montserrat';

	color: $fontColor;
}

h1 {
	font-weight: bold;
	font-size: $fontSize * 2;
}

p {
	font-size: $fontSize * 0.85;
}

.center {
	text-align: center;
}

.buttonskin {
	opacity: 0;
	padding: 5px;
	transition: all .1s linear;

	&:hover {
		text-shadow: 2px 2px 7px black;
		cursor: pointer;
	}

	&.clicked {
		text-shadow: unset;
	}

	&:focus {
		outline:0;
	}

	&:after {
		content: '';
		display: block;
		height: 2px;
		width: 0px;
		background: transparent;
		transition: width .3s ease-in-out, background-color .3s ease-in-out;
	}
	&:hover:after {
		width: 100%;
		background: rgb(255, 255, 255);
	}
}

.homebutton {
	opacity: 0;
	margin: 10px;
	padding: 5px 15px;
	transition: all .1s linear;
	font-size: $fontSize;
	border: 2px solid white;

	&:hover {
		cursor: pointer;
		color: rgb(158, 158, 158);
		border: 2px solid rgb(179, 178, 178);
		text-shadow: 2px 2px 7px black;
	}
	&:focus {
		outline:0;
	}

	&.clicked{
		text-shadow: unset;
		color: white;
	}
}

.mainpage {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 20px;
	min-width: 270px;
}

.titles {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	font-size: $fontSize;
	border-right: 2px solid white;
	padding: 10px;
}

.menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	font-size: $fontSize;

	padding: 10px;
}

.standardlayout {
	opacity: 0;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	flex-wrap: wrap;
	margin: 30px;

	transition: all 1s ease-in-out;
}

.descriptioncontainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 15px;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.imageself {
	border-radius: 50%;
	align-self: center;
	max-width: 100%;
	height: auto;
	margin: 20px;
	
}

.skillsgrid {
	@extend .descriptioncontainer;
	max-width: 600px;
	padding: unset;
	margin: 15px;
}

.skilltag {
	margin: 5px;
}

.skillcontainer {
	width: 125px;
	height: 125px;
	margin: 10px;

	color: transparent;
	border: 0px solid transparent;

	transition: all .1s ease-in-out;

	&:hover {
		color: white;
		border: 20px solid transparent;
	}
}

@media (max-width: 740px) {
	.mainpage {
		flex-direction: column;
	}

	.titles {
		align-items: flex-start;
		border-right: unset;
		border-bottom: 2px solid white;
	}

}
@media (max-width: 907px) {
	.pagelayout {
		flex-direction: column;
	}

	.standardlayout {
		flex-direction: column;
	}

}

@media (max-width: 380px) {
	.menu{
		font-size: $fontSize * 0.85;
	}
	p {
		font-size: $fontSize * 0.65;
	}
	h1 {
		font-size: $fontSize * 1.4;
	}
}

